
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@2/css/all.min.css">

<footer class="footer">
    <div class="content has-text-centered">
<br>
<br>
<br>
<br>
<br>
<div id= "botNav"class="box">

  <a routerLink = "" routerLinkActive="active">
    Home

  </a>
  <a  id="about"routerLink = "/aboutUs" routerLinkActive="active">
    About Us
  </a>
  
  <a id="contact"routerLink = "/contactUs" routerLinkActive="active">
    Contact Us
  </a>
  
</div>


     <section class="icons">

        <span class="icon">
            <i class="fab fa-facebook-square"></i>
          </span>
          <span class="icon">
            <i class="fab fa-instagram"></i>
          </span>
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>

     </section>

    </div>

  </footer>