
    <head>
        <meta name="description" content="This is the description">
        <script src="store.js" ></script>
		
    </head>
    
        

	<header class = "hero">
    <div class = "banner">
			<h1 class = "banner-title">Catalogue</h1>
			
	</div>
        </header>
		<h2 class = "section-header">Text Books</h2>
        <section class = "container content-section">
            
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Business Management Textbook</span>
                    <img class="shop-item-image" src="assets/catalogue/Bus1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">R299.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">Purchase</button>
                    </div>
					
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Understanding Information Technology Textbook</span>
                    <img class="shop-item-image" src="assets/catalogue/it1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">R499.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">Purchase</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Higher Education Psychology Textbook</span>
                    <img class="shop-item-image" src="assets/catalogue/psy1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">R249.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">Purchase</button>
                    </div>
                </div>
				<div class="shop-item">
                    <span class="shop-item-title">Java2 Fifth Edition Textbook</span>
                    <img class="shop-item-image" src="assets/catalogue/jav1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">R399.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">Purchase</button>
                    </div>
                </div>
				<div class="shop-item">
                    <span class="shop-item-title">Employment Law Textbook</span>
                    <img class="shop-item-image" src="assets/catalogue/law1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">R379.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">Purchase</button>
                    </div>
                </div>
            </div>
        </section>
		<h2 class="section-header">Electronics</h2>
        <section class="container content-section">
            
            <div id ="elec"class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Mecer 8gig RAM laptop</span>
                    <img class="shop-item-image" src="assets/catalogue/lap3.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">R6999.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">Purchase</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Hp 8gig Ram Laptop</span>
                    <img class="shop-item-image" src="assets/catalogue/lap2.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">R5499.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
				
            </div>
        </section>
      