<section id="sec" class="section">


    <img  id="img1"src="assets/img/marketplace-e-commerce.png" >

    <h1 id= "heading1">CPUTMARKETPLACE</h1>

    </section>
  
    
    <section id="meduim"class="section">
    
        <div id="copy1"class="box">
            <p>Welcome to CPUTMARKETPLACE we are an online service that helps students sell there old textbooks or learning material to previous years , we are like the gumtree for students to sell there books and any other university material
               We are the middle man between sellers and buyers , and vice versa. If you need anything for varsity we are able to provide it for you check out our catalogues to see what you would like today
            </p>
        </div>
      
        <img  id="img2"src="assets/img/textbook.png" >
    
    </section>
    <section id="second"class="section">
    <h2 id ="cat">CATEGORIES</h2>
      
    <div id="cat1"class="box has-text-centered">
        <img id="bo"src="assets/img/textbook.png">
        <p>BOOKS</p>
    </div>
    <div id="cat2"class="box has-text-centered">
        <img id="lM"src="assets/img/staiionary.png">
        <p>LEARNING MATERIAL</p>
    </div>
    <div id="cat3"class="box has-text-centered">
        <img id="tut"src="assets/img/tutors.png">
        <p>TUTORS</p>
    </div>

    <div id="text"class="box has-text-centered">
        <p>CHECK OUT OUR CATEGORIES TODAY</p>
    </div>
    </section>
    <section id="third"class="section">
    
        <img  id="img3"src="assets/img/money.png" >
        <img  id="img4"src="assets/img/protection.png" >
        <img  id="img5"src="assets/img/shopping.png" >
      
        <div id="copy2"class="box has-text-centered">
            <p>AFFORDABLE AND RELIABLE SELLERS AND BUYERS</p>
        </div>

        <div id="copy3"class="box has-text-centered">
            <p>SAFE AND SECURE SO YOU NEED NOT TO WORRY</p>
        </div>

        <div id="copy4"class="box has-text-centered">
            <p>ONE STOP SHOP FOR ALL YOUR VARSITY NEEDS!</p>
        </div>
    </section>
    